<main>
  <section class="display">

  </section>

  <section class="calc-op-top">
    <div class="">
      <p>
      o
      </p>n/off
    </div>
    <div class="">
      <p>
      %
      </p>
    </div>
    <div class="">
      <p>
      /
      </p>
    </div>
    <div class="">
      <p>
      X
      </p>
    </div>
  </section>

  <section class="main-keys">
    <section class="num-keys">
      <div class="">
        <p>
        1
        </p>
      </div>
      <div class="">
      <p

        </p>2
      </div>
      <div class="">
        <p>
        3
        </p>
      </div>
      <div class="">
        <p>
        4
        </p>
      </div>
      <div class="">
        <p>
        5
        </p>
      </div>
      <div class="">
        <p>
        6
        </p>
      </div>
      <div class="">
        <p>
        7
        </p>
      </div>
      <div class="">
        <p>
        8
        </p>
      </div>
      <div class="">
        <p>
        9
        </p>
      </div>
      <div class="zero-key">
        <p>
        0
        </p>
      </div>
    </section>
    <section class="calc-op-side">
      <div class="">
        <p>
        -
        </p>
      </div>
      <div class="">
        <p>
        +
        </p>
      </div>
      <div class="enter">
        <p>
        =
        </p>
      </div>

    </section>
  </section>
  <section>

  </section>
</main>
